@import url("https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:ital@1&family=Montserrat:wght@20&family=Varela&display=swap");

.container {
    height: auto;
    width: 100%;
    min-height: 100vh;
    margin-top: -4rem;
    margin-right: auto;
    margin-left: auto;
    background: url("https://images.ctfassets.net/v3n26e09qg2r/2FVW3IttuddrpXYG6Vztr7/ca447bf361e5c6eda41c304ce496bc5a/HomepageHero_BG_2560_BG.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.container h1{
    font-family: 'Varela', sans-serif;
    color:white;
    padding: 100px;
}

@media only screen and (max-width:768px)  {
   .container h1 {
    font-size: 20pt; 
}
}

